body > .content {
  padding-top: 50px;
}

.country-box {
  margin-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  width: 100%;
}

.country-box h1 {
  font-size: 28px;
  color: #428bca;
}

.grid a{
  color: #525050;
}

/*: hover is when mouse is over link */
.grid a:hover .country-box {
  background-color: #eee !important;
}

.grid a:hover .country-box h1 {
  color: #2a6496;
}

.search {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  padding-left: 13px;
  padding-right: 13px;
}

.search input {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #A3C2C2;
  border-radius: 5px;
}

.navbar-default .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #33001A;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 45px;
}

.page-about p {
  font-size: 20px;
}

.page-about h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

@media screen
  and (max-width: 500px) {
    .country-box {
      width: 100%;
    }
}
