{% extends "_base.html" %}

{% block content %}
div class="jumbotron">
  <div class="container">  
    <h1>About this project</h1>
  </div>  

<div class="container">

<h2><p>Access to public information is a fundamental and wide recognized right. But it is also a difficult one. Knowing how to use the FOIA to get answers from the governments requieres time, patience and the knowledge of where and how to ask for the information.</p>
<p>This project has been created to give key information to make FOIA requests in different countries around the world. It includes differents ranking that can help to understand the challenges to make the law effective in favor of all/any citizen.</p>
<p>The content of INFORIGHT Demo version will be updated during August and September 2015.</p>
<p>INFORIGHT Demo version has been created by <a href="http://www.inforight.net" target="_blank">Mago Torres</a>.</p></h2> 
{% endblock content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock %}
