{% extends "_base.html" %}

{% block content %}

<div class="content">
  <div class="jumbotron">
    <div class="container">
      <div class="title">
        <p>{{intro}}</p>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="search">
      <input type="text" class="quicksearch" placeholder="Search by name, region, or keyword"/>
    </div>

    <div class="grid">

      {% for country in countries %}
      <a href="{{country.slug}}">
        <div class="country-box">
          <h1>{{country.name}}</h1>
          {% if country.type == 'country' %}
          <p class="country-label region">{{ country.region }}</p>
          {% else %}
          <p class="country-label institution-description">{{ country.institution_description }}</p>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>

  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="js/lib/isotope.pkgd.min.js"> </script>
<script src="js/app.js"></script>
{% endblock %}
