{% extends "_base.html" %}

{% block content %}
<div class="content">
  <div class="container">

    <h1>About this project</h1>

    <p>Access to public information is a fundamental and widely recognized right. But knowing how to use freedom of information laws to get answers from the governments requires time, patience and the knowledge of where and how to ask for information.</p>
    <p>This project has been created to give key information to make freedom of information requests in different countries around the world. It includes different rankings that can help to understand the challenges to make the law effective in favor of all/any citizen.</p>
    <p>The content of INFORIGHT Demo version will be updated during 2017.</p>
    <p>INFORIGHT Demo version is developed by <a href="http://www.inforight.net" target="_blank">Mago Torres</a>.</p>

  </div>
</div>

{% endblock content %}

{% block base %}
<base href="../">
{% endblock %}
